<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/error', resource: @answer %>

  <p>
    <%= form.label :option %><br>
    <%= form.text_area :option, id: :answer_option, rows: 7, cols: 60 %>
  </p>
  <p>
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>

  <%= form.submit %>
<% end %>
